<h1>Stupid Coaching</h1>

<label for="">Ask your coach anything:</label>
<form action="/answer" method="get" class="form-inline">
  <input type="text" name="question">
  <!-- <input type="submit" value="Ask" class="button"> -->
  <button type="submit" value="Ask">Submit</button>

</form>
